@font-face {
    font-family: sans;
    src: url(./comic.ttf);
  }

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to { opacity: 1 }
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans;
}

body {
    background-image: url("./competitive-shitting-shitting.gif");
    animation: fadeInAnimation ease 1.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

h1 {
    text-align: center;
    padding: 2em;
    font-size: 2.5em;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}


li {
    padding-bottom: 1em;
    list-style: none;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: .5em;
    padding: .2em;
}

#addButt {
    margin: 1em;
    border-radius: .5em;
    padding: .5em;
}

#newTodo {
    border: dashed 1px;
}

#newTodo:focus{
    outline: 0;
    box-shadow: none;
   }

button:hover {
    background-color: #95afc0;
    transition: .5s;
}